<div class="container">
  <span class="title">POKEDEX</span>
  <div class="pokedex">
    <app-pokedex 
      [imageUrl]="pokemonImage" 
      (pokemonID)="changePokemon($event)"
      (evolveID)="handleEvolution($event)">
    </app-pokedex>
  </div>
  <div class="grafico">
    <app-grafico 
      [nombrePokemon]="pokemonName"
      [idPokemon]="'#' + pokemonID.toString().padStart(3, '0')"
      [tipoPokemon]="pokemonType"
      [vidaPokemon]="pokemonHP"
      [ataquePokemon]="pokemonAttack"
      [defensaPokemon]="pokemonDefense">
    </app-grafico>
  </div>
</div>