<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<div class="container">
  <span class="title">POKEDEX</span>
  <div class="pokedex">
    <app-pokedex 
      [imageUrl]="pokemonImage" 
      (pokemonID)="changePokemon($event)">
    </app-pokedex>
    <br>
    <div class="point-container">
      <span class="point"></span>
      <span class="point"></span>
    </div>
  </div>
  <div class="grafico">
    <app-grafico 
      [nombrePokemon]="pokemonName"
      [idPokemon]="'#' + pokemonID.toString().padStart(3, '0')"
      [tipoPokemon]="pokemonType"
      [vidaPokemon]="pokemonHP">
    </app-grafico>
  </div>
</div>