<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<section class="stats">
    <h2>Pokemon: {{nombrePokemon}}</h2>
    <h2>ID: {{idPokemon}}</h2>
    <h2>Tipo: {{tipoPokemon}}</h2>
    <h2>Vida</h2>
    <span class="health" *ngIf="vidaPokemon>0"></span>
    <span class="health" *ngIf="vidaPokemon>=20"></span>
    <span class="health" *ngIf="vidaPokemon>=40"></span>
    <span class="health" *ngIf="vidaPokemon>=80"></span>
    <span class="health" *ngIf="vidaPokemon==100"></span>
    <h2>Escudo</h2>
    <span class="shield" *ngIf="defensaPokemon>0">🛡️</span>
    <span class="shield" *ngIf="defensaPokemon>=20">🛡️</span>
    <span class="shield" *ngIf="defensaPokemon>=40">🛡️</span>
    <span class="shield" *ngIf="defensaPokemon>=80">🛡️</span>
    <span class="shield" *ngIf="defensaPokemon==100">🛡️</span>
    <h2>Ataque</h2>
    <span class="attack" *ngIf="ataquePokemon>0">⚔️</span>
    <span class="attack" *ngIf="ataquePokemon>=20">⚔️</span>
    <span class="attack" *ngIf="ataquePokemon>=40">⚔️</span>
    <span class="attack" *ngIf="ataquePokemon>=80">⚔️</span>
    <span class="attack" *ngIf="ataquePokemon==100">⚔️</span>
</section>
