<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<section class="stats">
    <h2>Pokemon: {{ capitalizeFirstLetter(nombrePokemon) }}</h2>
    <h2>ID: {{ idPokemon }}</h2>
    <h2>Tipo: {{ capitalizeFirstLetter(tipoPokemon) }}</h2>
    
    <div class="stat" (click)="toggleDisplay2('hp')">
        <h2>Vida</h2>
        <div class="stat-container">
            <div class="stat-bar" [style.width.%]="100">
                <div class="stat-value" [style.width.%]="100" *ngIf="vidaPokemon > 1">
                    <span *ngIf="vidaPokemon > 1">{{ showPercentage.hp ? calculateVida(vidaPokemon) + '%' : vidaPokemon }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="stat" (click)="toggleDisplay('attack')" >
        <h2>Ataque</h2>
        <div class="stat-container">
            <div class="stat-bar" [style.width.%]="100">
                <div class="stat-value attack-bar" [style.width.%]="calculatePercentage(ataquePokemon, 190)">
                    <span *ngIf="ataquePokemon > 1">{{ showPercentage.attack ? calculatePercentage(ataquePokemon, 190) + '%' : ataquePokemon }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="stat" (click)="toggleDisplay('defense')">
        <h2>Defensa</h2>
        <div class="stat-container">
            <div class="stat-bar" [style.width.%]="100">
                <div class="stat-value defense-bar" [style.width.%]="calculatePercentage(defensaPokemon, 230)">
                    <span *ngIf="defensaPokemon > 1">{{ showPercentage.defense ? calculatePercentage(defensaPokemon, 230) + '%' : defensaPokemon }}</span>
                </div>
            </div>
        </div>
    </div>
</section>